



body {
    background:#fff;
}


/* Default Link Color */

a, .la-ball-triangle-path {
    color:#f37721;
}




/* Border Color */

#banner .section-heading:before, .testimonial.classic footer:before {
    background: #f7941d;
}

.pricing-block-content:hover {
    border-color:#df7941d;
}


/*------------------------------------------------------------------------------------------*/
/* 2. Navigation */
/*------------------------------------------------------------------------------------------*/


/* Transparent Navigation Color on a Banner */

#header nav a, #header i {
    color:#f7941d;
}




/* Navigation Active State */

#header.nav-solid .active {
    color: #48341e;
    border-color: #f7941d;
}    









.section-heading h2:after {
    background:#f7941d;
    content:"";
    display:block;
    width:30px;
    height:5px;
    margin-top:30px;
}

.text-center .section-heading h2:after {
    margin:30px auto 25px auto;
}

/* Primary Icon Colors */

.primary-color .icon i, .primary-color i {
    color:#fff;
}


/* Secondary Background and Text Colors */

.secondary-color {
    background-color:#ffffff;
}



#banner {
    background: url("../pngs/BANNER.1-min.png") no-repeat center top;
    background-size:cover;
}


/*------------------------------------------------------------------------------------------*/
/* 5. Typography */
/*------------------------------------------------------------------------------------------*/


body {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:15px;
    font-weight:normal;
    color:#f37721;
}


/* Banner Typography */

#banner h1 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:62px;
    line-height:60px;
    font-weight:800;
    color:#ff9933;
}

#banner h2 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:18px;
    font-weight:300;
    color:#f37721;
}


/* Section Title and Subtitle */

.section-title {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 34px; 
    font-weight:700;
    color:#f7941d;
}

.section-subtitle {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 16px;
    font-weight:300;
    color:#f37721;
}




/* Standard Headings h1-h6 */

h1 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 40px; 
    font-weight:300;
    color:#f7941d;
}

h2 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 34px; 
    font-weight:300;
    color:#f7941d;
}

h3 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 30px; 
    font-weight:700;
    color:#f7941d;
}

h4 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 18px; 
    font-weight:400;
    color:#f7941d;
}

h5 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 16px; 
    font-weight:400;
    color:#f7941d;
}

h6 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 14px; 
    font-weight:400;
    color:#f7941d;
}









/*------------------------------------------------------------------------------------------*/
/* 7. Footer */
/*------------------------------------------------------------------------------------------*/

#landing-footer, #landing-footer p, #landing-footer a {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:12px;
    font-weight:normal;
    color:#f7941d;
}

/* Footer Icon Color */

#landing-footer i {
    color:#f7941d;
}